{% extends 'content/base.html' %}

{% block body %}
	<div>
		<form action="" method="post">
			{% csrf_token %}
			<div>
				<p>{{ formUser.username.label_tag }} {{ formUser.username }}</p>
				<p>{{ formUser.first_name.label_tag }} {{ formUser.first_name }}</p>
				<p>{{ formUser.last_name.label_tag }} {{ formUser.last_name }}</p>
				<p>{{ formUser.email.label_tag }} {{ formUser.email }}</p>
				<p>{{ formUser.password.label_tag }} {{ formUser.password }}</p>
				{{ formAcademic.as_p }}
				<button type="submit">Adicionar</button>
			</div>
		</form>
	</div>
{% endblock %}