{% extends 'content/base.html' %}

{% block body %}
	<div class="row-fluid">
		<div class="span12">
			<form action="" method="post">
				{% csrf_token %}
				<div class="row-fluid"><div class="span12">
					<p>{{ formUser.username.label_tag }} {{ formUser.username }}</p>
				</div></div>
				<div class="row-fluid"><div class="span12">
					<p>{{ formUser.first_name.label_tag }} {{ formUser.first_name }}</p>
				</div></div>
				<div class="row-fluid"><div class="span12">
					<p>{{ formUser.last_name.label_tag }} {{ formUser.last_name }}</p>
				</div></div>
				<div class="row-fluid"><div class="span12">
					<p>{{ formUser.email.label_tag }} {{ formUser.email }}</p>
				</div></div>
				<div class="row-fluid"><div class="span12">
					<p>{{ formUser.password.label_tag }} {{ formUser.password }}</p>
				</div></div>
				<div class="row-fluid"><div class="span12">
					{{ formAcademic.as_p }}
					<button type="submit" class="btn btn-success" class="">Adicionar</button>
				</div></div>
			</form>
		</div>
	</div>
{% endblock %}