{% extends 'content/base.html' %}

{% block body %}
	<div class="row-fluid">
		<div class="span12">
			<form action="" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="row-fluid"><div class="span12">
					{{ formUser }}
				</div></div>
				<div class="row-fluid"><div class="span12">
					{{ formAcademic.enrollment.label_tag }}
					{{ formAcademic.enrollment }}
				</div></div>
				<div class="row-fluid"><div class="span12">
					{{ formAcademic.role.label_tag }}
					{{ formAcademic.role }}
				</div></div>
				<div class="row-fluid"><div class="span12">
					{{ formDocument.image.errors }}
					{{ formDocument.image.label_tag }}
					{{ formDocument.image }}
				</div></div>
				<p><button type="submit" class="btn btn-success" class="">Adicionar</button></p>
			</form>
		</div>
	</div>
{% endblock %}