{% extends "content/base.html" %}
{% block content %}
    <div class="row-fluid">
        <div class="span7">
            <a class="btn btn-inverse" style="width:100%">Posted</a>

            <table class="table" style="margin: 0px 0px 0px 0px;">
                {% for doc in docs %}
                    <tr>
                        <td>
                            <div class="row-fluid">
                                <table class="table" style="margin: 0px 0px 0px 0px;">
                                    <tr style="margin: 0px 0px 0px 0px;">
                                        <td>
                                            <a href="#"><h4 style="margin: 0px 0px 0px 0px;">{{ doc.title }}</h4></a>
                                            <h6 style="margin: 0px 0px 0px 0px;">Posted by {{ doc.academic.user.first_name }} {{ doc.academic.user.last_name }} in {{ doc.datepost }}</h6>
                                        </td>
                                    </tr>
                                    <tr style="margin: 0px 0px 0px 0px;">
                                        <td>
                                            <h5 style="margin: 0px 0px 0px 0px;">{{ doc.content }}</h5>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-mini btn-info" href="/content/doccount/{{ doc.pk }}"> <i class=" icon-download icon-white"></i> Download</a>
                                                <a class="btn btn-mini btn-primary" href="#"><i class="icon-file icon-white"></i> Visualizar</a>
                                                <a class="btn btn-mini btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#"> Visualizar inbox</a></li>
                                                    <li><a href="#"> Visualizar nova aba</a></li>
                                                    <li><a href="#"> Visualizar nova janela</a></li>
                                                    <li class="divider"></li>
                                                </ul>
                                            </div>
                                            <a class="btn btn-mini btn-success" href="#"> <i class=" icon-plus icon-white"></i>INFO</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <div class="pagination">
      <span class="step-links">
        <a href="?page={{ 1 }}">Primeira</a>
          {% if docs.has_previous %}
              <a href="?page={{ docs.previous_page_number }}">Anterior</a>
          {% endif %}

          <span class="current">
          {{ docs.number }}/{{ docs.paginator.num_pages }}
        </span>

          {% if docs.has_next %}
              <a href="?page={{ docs.next_page_number }}">Próximo</a>
          {% endif %}
          <a href="?page={{ docs.paginator.num_pages }}">Última</a>
      </span>
            </div>

        </div>
        <div class="span1"><div class="row-fluid"></div></div>
        <div class="span3">
            <a class="btn btn-inverse" style="width:100%">+Vistos</a>
            <table class="table" style="margin: 0px 0px 0px 0px;">
                {% for doc in most_viewed %}
                    <tr>
                        <td>
                            <div class="row-fluid">
                                <table class="table" style="margin: 0px 0px 0px 0px;">
                                    <tr style="margin: 0px 0px 0px 0px;">
                                        <td>
                                            <a href="#"><h4 style="margin: 0px 0px 0px 0px;">{{ doc.title }}</h4></a>
                                            <h6 style="margin: 0px 0px 0px 0px;">Posted by {{ doc.academic.user.first_name }} {{ doc.academic.user.last_name }} in {{ doc.datepost }}</h6>
                                        </td>
                                    </tr>
                                    <tr style="margin: 0px 0px 0px 0px;">
                                        <td>
                                            <h5 style="margin: 0px 0px 0px 0px;">{{ doc.content }}</h5>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-mini btn-info" href="/content/doccount/{{ doc.pk }}"> <i class=" icon-download icon-white"></i> Download</a>
                                                <a class="btn btn-mini btn-primary" href="#"><i class="icon-file icon-white"></i> Visualizar</a>
                                                <a class="btn btn-mini btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#"> Visualizar inbox</a></li>
                                                    <li><a href="#"> Visualizar nova aba</a></li>
                                                    <li><a href="#"> Visualizar nova janela</a></li>
                                                    <li class="divider"></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}