{% extends "content/base.html" %}

{% block scriptstyle %}
    <link href="{{ STATIC_URL }}src/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}src/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span10 offset1">
            <h2>{{ article.title }}</h2>
            <blockquote>
                <small>Autor: {{ article.academic.user.first_name }} {{ article.academic.user.last_name }}</small>
                <small>Data: {{ article.datepost }}</small>
            </blockquote>
            <p>{{ article.content }}</p>
            <h5>Imagens dessa notícia</h5>
            {% if article.get_pictures %}
                {% for picture in article.get_pictures %}
                    <img src="{{ MEDIA_URL }}{{ picture.image }}" class="img-rounded">
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}