
<div class="navbar navbar-inverse" style="position: static;">
<div class="navbar-inner">
<div class="container">
<a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</a>
<a class="brand" href="/">Home</a>
<div class="nav-collapse collapse navbar-inverse-collapse">
<ul class="nav">
    <li class="dropdown">
        <a href="{{STATIC_URL}}#" class="dropdown-toggle" data-toggle="dropdown">Noticias <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li class="nav-header">Computação</li>
            <li><a href="/content/articles">Todas</a></li>
            <li><a href="{{STATIC_URL}}#">CACCOMP</a></li>
            <li><a href="{{STATIC_URL}}#">Coordenação</a></li>
            <li><a href="{{STATIC_URL}}#">Acadêmicos</a></li>
            <li class="divider"></li>
            <li class="nav-header">Externa</li>
            <li><a href="{{STATIC_URL}}#">Todas</a></li>
            <li><a href="{{STATIC_URL}}#">UFT</a></li>
            <li><a href="{{STATIC_URL}}#">Campus de Palmas</a></li>
            <li><a href="{{STATIC_URL}}#">Outras</a></li>
        </ul>
    </li>
    <li><a href="/content/tips/">Dicas & Links</a></li>
    <li><a href="/content/docs/">Documentos</a></li>
    <li class="dropdown">
        <a href="{{STATIC_URL}}#" class="dropdown-toggle" data-toggle="dropdown">Eventos <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="/content/events/">Todos</a></li>
            <li><a href="{{STATIC_URL}}#">Horário</a></li>
        </ul>
    </li>
    <li><a href="/content/polls">Enquetes</a></li>
    <li><a href="/baygon">Baygon</a></li>

</ul>

<!-- Perfil do usuário -->
<ul class="nav pull-right">
<li><a href="{{STATIC_URL}}#postModal" data-toggle="modal">Novo Post</a></li>

<!-- postModal -->
<div id="postModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="postModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="postModalLabel">Postar</h3>
    </div>
    <div class="modal-body">

        <table class="table table-striped">
            <tbody>
            <tr><td>
                <label>Título:</label>
                <input type="text" class="span8" name="title" placeholder="Title..." />
                <label>Conteudo:</label>
                <textarea rows="3" class="span8" placeholder="Digite aqui o conteudo do Post..."></textarea>
            <tr/></td>
            <tr><td>
                <label>Categoria:</label>
                <div class="row-fluid">
                    <div class="span2">
                        <label class="radio" onclick="categoryOn(0);">
                            <input type="radio" name="category" id="category1" value="NEWS_UFT" checked />Notícia
                        </label>
                    </div>
                    <div class="span3">
                        <label class="radio" onclick="categoryOn(1);">
                            <input type="radio" name="category" id="category1" value="LINKS_TIPS" checked />Links e Dicas
                        </label>
                    </div>
                    <div class="span3">
                        <label class="radio" onclick="categoryOn(2);">
                            <input type="radio" name="category" id="category1" value="DOCS" checked />Documentos
                        </label>
                    </div>
                </div>

                <script type="text/javascript">
                    function categoryOn(id){
                        if(id==0){
                            document.getElementById('categoryOptions').innerHTML='<label><h5>Galeria</h5></label><label>Adicionar:</label><select  onchange="newGalery( this.value )"><option></option><option>Imagem</option><option>Documentos</option><option>Link</option></select><div class="row-fluid"><div class="span12" id="elementGalery"></div></div>';
                        } else if(id==1){
                            document.getElementById('categoryOptions').innerHTML='<label>URL:</label><input type="text" class="span8" name="legenda" placeholder="Link..." /> <label>Legenda:</label><input type="text" class="span8" name="legenda" placeholder="Legenda..." />';
                        } else{
                            document.getElementById('categoryOptions').innerHTML='<label>Documento:</label><div class="input-append"><input class="span8" id="appendedInputButton" type="text"><button class="btn" type="button">Upload</button></div><label>Legenda:</label><input type="text" class="span8" name="legenda" placeholder="Legenda..." />';
                        };
                    }

                    function newGalery(id){
                        if(id=='Imagem'){
                            document.getElementById('elementGalery').innerHTML+='<div class="row-fluid"><div class="span1"><h3>03</h3></div><div class="span5"><label>Imagem:</label><div class="input-append"><input class="span6" id="appendedInputButton" type="text"><button class="btn" type="button">Upload</button></div></div><div class="span5"><label>Legenda:</label><input type="text" class="span12" name="legenda" placeholder="Legenda..." /></div><div class="span1"><h3>×</h3></div></div>';
                        } else if(id=='Documentos'){
                            document.getElementById('elementGalery').innerHTML+='<div class="row-fluid"><div class="span1"><h3>02</h3></div><div class="span5"><label>Documento:</label><div class="input-append"><input class="span6" id="appendedInputButton" type="text"><button class="btn" type="button">Upload</button></div></div><div class="span5"><label>Legenda:</label><input type="text" class="span12" name="legenda" placeholder="Legenda..." /></div><div class="span1"><h3>×</h3></div></div>';
                        } else if(id=='Link'){
                            document.getElementById('elementGalery').innerHTML+='<div class="row-fluid"><div class="span1"><h3>01</h3></div><div class="span5"><label>URL:</label><input type="text" class="span12" name="legenda" placeholder="Link..." /></div><div class="span5"><label>Legenda:</label><input type="text" class="span12" name="legenda" placeholder="Legenda..." /></div><div class="span1"><h3>×</h3></div></div>';
                        };
                    }

                </script>
                <div class="row-fluid">
                    <div class="span12" id="categoryOptions">
                        <!--
                        <label><h5>Galeria</h5></label>
                        <label>Adicionar:</label>
                        <select  onchange="newGalery( this.value )">
                          <option></option>
                          <option>Imagem</option>
                          <option>Documentos</option>
                          <option>Link</option>
                        </select>

                        <div class="row-fluid">
                          <div class="span12" id="elementGalery">
                            <div class="row-fluid">
                              <div class="span1">
                                <h3>01</h3>
                              </div>
                              <div class="span5">
                                <label>URL:</label>
                                <input type="text" class="span12" name="legenda" placeholder="Link..." />
                              </div>
                              <div class="span5">
                                <label>Legenda:</label>
                                <input type="text" class="span12" name="legenda" placeholder="Legenda..." />
                              </div>
                              <div class="span1">
                                <h3>×</h3>
                              </div>
                            </div>

                            <div class="row-fluid">
                              <div class="span1">
                                <h3>02</h3>
                              </div>
                              <div class="span5">
                                <label>Documento:</label>
                                <div class="input-append">
                                  <input class="span6" id="appendedInputButton" type="text">
                                  <button class="btn" type="button">Upload</button>
                                </div>
                              </div>
                              <div class="span5">
                                <label>Legenda:</label>
                                <input type="text" class="span12" name="legenda" placeholder="Legenda..." />
                              </div>
                              <div class="span1">
                                <h3>×</h3>
                              </div>
                            </div>

                            <div class="row-fluid">
                              <div class="span1">
                                <h3>03</h3>
                              </div>
                              <div class="span5">
                                <label>Imagem:</label>
                                <div class="input-append">
                                  <input class="span6" id="appendedInputButton" type="text">
                                  <button class="btn" type="button">Upload</button>
                                </div>
                              </div>
                              <div class="span5">
                                <label>Legenda:</label>
                                <input type="text" class="span12" name="legenda" placeholder="Legenda..." />
                              </div>
                              <div class="span1">
                                <h3>×</h3>
                              </div>
                            </div>

                          </div>
                        </div>
                        -->
                    </div>
                </div>
            <tr/></td>
            <tr><td>
                <label>Palavras chave:</label>
                <div class="row-fluid">
                    <div class="span4">
                        <label class="checkbox">
                            <input type="checkbox" value="caccomp">
                            CACCOMP
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" value="academico">
                            Acadêmico
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" value="reitoria">
                            Reitoria
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" value="coordenacao">
                            Coordenação
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" value="uft">
                            UFT
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" value="cup">
                            Campus de Palmas
                        </label>
                    </div>
                    <div class="span4">
                        <label class="checkbox">
                            <input type="checkbox" value="externo">
                            Externo
                        </label>
                        <label>Outros:</label>
                        <select multiple="multiple">
                            <option>Linux</option>
                            <option>Windows</option>
                            <option>Aulas</option>
                            <option>DCE</option>
                        </select>
                    </div>
                </div>
            </td></tr>
            </tbody>
        </table>

    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Postar</button>
    </div>
</div>
<!-- fim postModal -->

<li class="divider-vertical"></li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cadastro <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="#">Perfil</a></li>
        <li><a href="{{STATIC_URL}}#passwdModal" data-toggle="modal">Alterar Senha</a></li>
        <li><a href="{{STATIC_URL}}#avatarModal" data-toggle="modal">Avatar</a></li>
        <li class="divider"></li>
        <li><a href="{{STATIC_URL}}#logoutModal" data-toggle="modal">Logout</a></li>
    </ul>
</li>
</ul>

<!-- passwdModal -->
<div id="passwdModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="passwdModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="passwdModalLabel">Alterar Senha</h3>
    </div>
    <div class="modal-body">

        <table class="table table-striped">
            <tbody>
            <tr><td>
                <label>Senha atual:</label>
                <input type="text" class="span6" name="passwd" placeholder="Digite a senha atual..." />
                <label>Nova senha:</label>
                <input type="text" class="span6" name="newPasswd" placeholder="Digite a nova senha..." />
                <label>Confirme a nova senha:</label>
                <input type="text" class="span6" name="lreNewPasswd" placeholder="Redigite a nova senha..." />
            </td></tr>
            </tbody>
        </table>

    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Alterar</button>
    </div>
</div>
<!-- fim passwdModal -->
<!-- avatarModal -->
<div id="avatarModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="avatarModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="avatarModalLabel">Alterar Avatar</h3>
    </div>
    <div class="modal-body">

        <table class="table table-striped">
            <tbody>
            <tr><td>
                <label>Exibir a imagem atual []</label>
                <label>Alterar avatar:</label>
                <div class="input-append">
                    <input class="span8" id="appendedInputButton" type="text">
                    <button class="btn" type="button">Upload</button>
                </div>
            </td></tr>
            </tbody>
        </table>

    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Alterar</button>
    </div>
</div>
<!-- avatarModal -->
<!-- logoutModal -->
<div id="logoutModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="logoutModalLabel">Logout</h3>
    </div>
    <div class="modal-body">

        <table class="table table-striped">
            <tbody>
            <tr><td>
                Sucess Logout
            </td></tr>
            </tbody>
        </table>

    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
<!-- fim logoutModal -->

</div><!-- /.nav-collapse -->
</div>
</div><!-- /navbar-inner -->
</div>