
<div class="navbar navbar-inverse" style="position: static;">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Home</a>
      <div class="nav-collapse collapse navbar-inverse-collapse">
        <ul class="nav">
          <li class="dropdown">
            <a href="{{STATIC_URL}}#" class="dropdown-toggle" data-toggle="dropdown">Noticias <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="nav-header">Computação</li>
              <li><a href="{{STATIC_URL}}#">Todas</a></li>
              <li><a href="{{STATIC_URL}}#">CACCOMP</a></li>
              <li><a href="{{STATIC_URL}}#">Coordenação</a></li>
              <li><a href="{{STATIC_URL}}#">Acadêmicos</a></li>
              <li class="divider"></li>
              <li class="nav-header">Externa</li>
              <li><a href="{{STATIC_URL}}#">Todas</a></li>
              <li><a href="{{STATIC_URL}}#">UFT</a></li>
              <li><a href="{{STATIC_URL}}#">Campus de Palmas</a></li>
              <li><a href="{{STATIC_URL}}#">Outras</a></li>
            </ul>
          </li>
          <li><a href="/content/tips/">Dicas & Links</a></li>
          <li><a href="/content/docs/">Documentos</a></li>
          <li class="dropdown">
            <a href="{{STATIC_URL}}#" class="dropdown-toggle" data-toggle="dropdown">Eventos <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{{STATIC_URL}}#">Horário</a></li>
            </ul>
          </li>
          <li><a href="#">Link</a></li>
          
        </ul>
        <ul class="nav pull-right">
          <li><a href="#">Postar</a></li>
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cadastro <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Perfil</a></li>
              <li><a href="#">Alterar Senha</a></li>
              <li><a href="#">Avatar</a></li>
              <li class="divider"></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</div>