{% extends "content/base.html" %}
{% block content %}
    <div class="row-fluid">
        <div class="span10 offset1">
            <ul class="nav nav-tabs">
                <h4 class="pull-left">Dúvidas</h4>
                <li class="pull-right"><a href="#most_popular" data-toggle="tab"><i class="icon-plus"></i>Populares</a></li>
                <li class="pull-right"><a href="#most_viewed" data-toggle="tab"><i class="icon-plus"></i>Vistos</a></li>
                <li class="active pull-right"><a href="#recent" data-toggle="tab"><i class="icon-plus"></i>Recentes</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="recent">
                    {% if doubts %}
                        <table class="table table-bordered" style="margin: 0px 0px 0px 0px;">
                            {% for doubt in doubts %}
                                <tr>
                                    <td>
                                        <div class="row-fluid">
                                            <div class="span3">
                                                <table class="table table-bordered">
                                                    <tr><td>
                                                        <div class="row-fluid">
                                                            <div class="span4" style="background-color: #408140; color: #eeeeee">
                                                                <h4 class="text-center">{{ doubt.get_popularity|length }}</h4>
                                                                <p class="text-center"><i class="icon-ok icon-white"></i></p>
                                                            </div>
                                                            <div class="span4" style="background-color: #942a25; color: #eeeeee">
                                                                <h4 class="text-center">{{ doubt.get_answers|length }}</h4>
                                                                <p class="text-center"><i class="icon-comment icon-white"></i></p>
                                                            </div>
                                                            <div class="span4" style="background-color: #515151; color: #eeeeee">
                                                                <h4 class="text-center">{{ doubt.view }}</h4>
                                                                <p class="text-center"><i class="icon-eye-open icon-white"></i></p>
                                                            </div>
                                                        </div>
                                                    </td></tr>
                                                </table>
                                            </div>
                                            <div class="span9">
                                                <table class="table table-bordered">
                                                    <tr><td>
                                                        <h4><a href="doubt/{{ doubt.pk }}">{{ doubt.asking }}</a></h4>
                                                        <p>
                                                            {% for keyword in doubt.keywords.all %}
                                                                <span class="label label-info">{{ keyword.name }}</span>
                                                            {% endfor %}
                                                            <span class="pull-right">{{ doubt.datepost }} <a href="#">{{ doubt.academic }}</a></span>
                                                        </p>
                                                    </td></tr>
                                                </table>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        <div class="pagination">
                            <span class="step-links">
                            <a href="?page={{ 1 }}">Primeira</a>
                                {% if tips.has_previous %}
                                    <a href="?page={{ tips.previous_page_number }}">Anterior</a>
                                {% endif %}
                                <span class="current">
                                {{ tips.number }}/{{ tips.paginator.num_pages }}
                            </span>
                                {% if tips.has_next %}
                                    <a href="?page={{ tips.next_page_number }}">Próximo</a>
                                {% endif %}
                                <a href="?page={{ tips.paginator.num_pages }}">Última</a>
                            </span>
                        </div>
                    {% endif %}
                </div>
                <div class="tab-pane" id="most_viewed">
                    {% if most_viewed %}
                        <table class="table table-bordered" style="margin: 0px 0px 0px 0px;">
                            {% for doubt in most_viewed %}
                                <tr>
                                    <td>
                                        <div class="row-fluid">
                                            <div class="span3">
                                                <table class="table table-bordered">
                                                    <tr><td>
                                                        <div class="row-fluid">
                                                            <div class="span4" style="background-color: #408140; color: #eeeeee">
                                                                <h4 class="text-center">{{ doubt.get_popularity|length }}</h4>
                                                                <p class="text-center"><i class="icon-ok icon-white"></i></p>
                                                            </div>
                                                            <div class="span4" style="background-color: #942a25; color: #eeeeee">
                                                                <h4 class="text-center">{{ doubt.get_answers|length }}</h4>
                                                                <p class="text-center"><i class="icon-comment icon-white"></i></p>
                                                            </div>
                                                            <div class="span4" style="background-color: #515151; color: #eeeeee">
                                                                <h4 class="text-center">{{ doubt.view }}</h4>
                                                                <p class="text-center"><i class="icon-eye-open icon-white"></i></p>
                                                            </div>
                                                        </div>
                                                    </td></tr>
                                                </table>
                                            </div>
                                            <div class="span9">
                                                <table class="table table-bordered">
                                                    <tr><td>
                                                        <h4><a href="doubt/{{ doubt.pk }}">{{ doubt.asking }}</a></h4>
                                                        <p>
                                                            {% for keyword in doubt.keywords.all %}
                                                                <span class="label label-info">{{ keyword.name }}</span>
                                                            {% endfor %}
                                                            <span class="pull-right">{{ doubt.datepost }} <a href="#">{{ doubt.academic }}</a></span>
                                                        </p>
                                                    </td></tr>
                                                </table>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
                <div class="tab-pane" id="most_popular">
                    {% if most_popular %}
                        <table class="table table-bordered" style="margin: 0px 0px 0px 0px;">
                            {% for doubt in doubts %}
                                <tr>
                                    <td>
                                        <div class="row-fluid">
                                            <div class="span3">
                                                <table class="table table-bordered">
                                                    <tr><td>
                                                        <div class="row-fluid">
                                                            <div class="span4" style="background-color: #408140; color: #eeeeee">
                                                                <h4 class="text-center">{{ doubt.get_popularity|length }}</h4>
                                                                <p class="text-center"><i class="icon-ok icon-white"></i></p>
                                                            </div>
                                                            <div class="span4" style="background-color: #942a25; color: #eeeeee">
                                                                <h4 class="text-center">{{ doubt.get_answers|length }}</h4>
                                                                <p class="text-center"><i class="icon-comment icon-white"></i></p>
                                                            </div>
                                                            <div class="span4" style="background-color: #515151; color: #eeeeee">
                                                                <h4 class="text-center">{{ doubt.view }}</h4>
                                                                <p class="text-center"><i class="icon-eye-open icon-white"></i></p>
                                                            </div>
                                                        </div>
                                                    </td></tr>
                                                </table>
                                            </div>
                                            <div class="span9">
                                                <table class="table table-bordered">
                                                    <tr><td>
                                                        <h4><a href="doubt/{{ doubt.pk }}">{{ doubt.asking }}</a></h4>
                                                        <p>
                                                            {% for keyword in doubt.keywords.all %}
                                                                <span class="label label-info">{{ keyword.name }}</span>
                                                            {% endfor %}
                                                            <span class="pull-right">{{ doubt.datepost }} <a href="#">{{ doubt.academic }}</a></span>
                                                        </p>
                                                    </td></tr>
                                                </table>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}