
                            <!-- Apoiador 1 -->
                            <div class="row-fluid">
                              <div class="span12" style="width: 290px; height: 80px;">
                                <img src="{{STATIC_URL}}src/img/logo_uft.png"  width="290" height="80" />
                              </div>
                            </div>
                            <!-- Apoiador 2 -->
                            <div class="row-fluid">
                              <div class="span12" style="width: 290px; height: 80px;">
                                <img src="{{STATIC_URL}}src/img/logo_django.png"  width="290" height="80" />
                              </div>
                            </div>
                            <!-- Apoiador 3 -->
                            <div class="row-fluid">
                              <div class="span12" style="width: 290px; height: 80px;">
                                <img src="{{STATIC_URL}}src/img/logo_bootstrap.png"  width="290" height="80" />
                              </div>
                            </div>
                            <!-- Apoiador 4 -->
                            <div class="row-fluid">
                              <div class="span12" style="width: 290px; height: 80px; border: 1px solid #000;">
                                <img src=""  width="290" height="80" />
                              </div>
                            </div>