
<!-- Apoiador 1 -->
<div class="row-fluid">
    <div class="span12" style="width: 290px; height: 80px;">
        <a href="http://www.uft.edu.br/"><img src="{{ STATIC_URL }}src/img/logo_uft.png" class="img-polaroid" width="290" height="80" /></a>
    </div>
</div>
<!-- Apoiador 2 -->
<div class="row-fluid">
    <div class="span12" style="width: 290px; height: 80px;">
        <a href="https://www.djangoproject.com/"><img src="{{ STATIC_URL }}src/img/logo_django.png" class="img-polaroid" width="290" height="80" /></a>
    </div>
</div>
<!-- Apoiador 3 -->
<div class="row-fluid">
    <div class="span12" style="width: 290px; height: 80px;">
        <a href="http://twitter.github.io/bootstrap/index.html"><img src="{{ STATIC_URL }}src/img/logo_bootstrap.png" class="img-polaroid" width="290" height="80" /></a>
    </div>
</div>