                            <script type="text/javascript">
                              <!--
                                //Quando o mouse passa por cima da opção
                                function mouseIn(id){
                                  var resp = document.enquete.elements['optionsRadios'];
                                  var idTr = "enquete_op"+id;
                                  //alert(idTr);
                                  if (resp[id-1].checked == false) {
                                    document.getElementById(idTr).className='success';
                                    //alert(idTr);
                                  };
                                }

                                //Quando o mouse sai de cima da opção
                                function mouseOut(id){
                                  var resp = document.enquete.elements['optionsRadios'];
                                  var idTr = "enquete_op"+id;
                                  //alert(idTr);
                                  if (resp[id-1].checked == false) {
                                    document.getElementById(idTr).className='';
                                    //alert(idTr);
                                  };
                                }

                                //Quando é selecionado uma opção
                                function selecionar(id){
                                  var resp = document.enquete.elements['optionsRadios'];
                                  var idTr;
                                  for (var i=1; i<=resp.length; i++) {
                                    idTr = "enquete_op"+(i);
                                    document.getElementById(idTr).className='';
                                  };
                                  idTr = "enquete_op"+id;
                                  document.getElementById(idTr).className='info';
                                }
                              -->
                            </script>
                            <div class="row-fluid">
                              <div class="span12">
                                <a class="btn btn-inverse" style="width:262px">Enquete</a>
                              </div>
                            </div>
                            <div class="row-fluid">
                              <div class="span12">
                                <form class="bs-docs-example form-inline" name="enquete">
                                  <table class="table table-striped">
                                    <thead>
                                      <tr><th>{{ polls.title }}</th></tr>
                                    </thead>
                                    <tbody>
                                      {% for alternative in polls.get_alternatives %}
                                      <tr  onmouseover="mouseIn( {{ alternative.pk }} );" onmouseout="mouseOut( {{ alternative.pk }} );" id="enquete_op{{ alternative.pk }}">
                                        <td>
                                          <label class="radio">
                                            <input type="radio" name="optionsRadios" id="enqueteRadios{{ alternative.pk }}" value="option{{ alternative.pk }}" onclick="selecionar( {{ alternative.pk }} );" checked>
                                            {{ alternative.name }}
                                          </label>
                                        </td>
                                      </tr>
                                      {% endfor %}
                                      <tr>
                                        <td>
                                          <div class="span4">
                                            <button type="submit" class="btn btn-primary">Votar</button>
                                          </div>
                                          <div class="span8">Deixe a sua opinião, e veja outras pesquisas <a href="/content/polls">aqui</a>.</div> 
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </form>
                              </div>
                            </div>