								<!-- Facebook Plugin -->
							      <div id="fb-root"></div>
							      <script>(function(d, s, id) {
							        var js, fjs = d.getElementsByTagName(s)[0];
							        if (d.getElementById(id)) return;
							        js = d.createElement(s); js.id = id;
							        js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
							        fjs.parentNode.insertBefore(js, fjs);
							      }(document, 'script', 'facebook-jssdk'));</script>
							    <!-- FIM Facebook Plugin -->
                              <iframe src="https://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fcaccompuft&amp;width=300&amp;height=590&amp;show_faces=true&amp;colorscheme=light&amp;stream=true&amp;border_color&amp;header=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:290px; height:590px; background:#ffffff" allowTransparency="true"></iframe>