                  <a class="btn btn-inverse" style="width:299px">Galerias</a>
                  <table class="table" style="margin: 0px 0px 0px 0px;">
                  <!-- Lista de galerias -->
                  {% for galery in galerys %}  
                    <tr>
                      <td>
                        <div class="row-fluid">
                          <div class="span6">
                            <img src="{{ MEDIA_URL }}{{ galery.get_image.image }}" class="img-rounded" alt="">
                          </div>
                          <div class="span6">
                            <table class="table" style="margin: 0px 0px 0px 0px;">
                              <tr style="margin: 0px 0px 0px 0px;">
                                <td>
                                  <a href="?infocus={{ galery.pk }}"><h5 style="margin: 0px 0px 0px 0px;">{{ galery.post.title }}</h5></a>
                                  <h6 style="margin: 0px 0px 0px 0px;">Posted by {{ galery.post.academic.user.first_name }} in {{ galery.post.datepost }}<h6>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <a class="btn btn-mini btn-primary" href="/content/galery/?infocus={{ galery.pk }}"><i class="icon-picture icon-white"></i> Galeria</a>
                                  <a class="btn btn-mini btn-success" href="/content/articles/{{ galery.post.pk }}/"><i class=" icon-plus icon-white"></i> INFO</a>
                                </td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                    <!-- ############ MAIS GALERIAS ################# -->
                    <tr>
                      <td>
                        <div class="row-fluid">
                          <div class="span5 offset7">
                            <a class="btn btn-success" href="/content/galery/"><i class=" icon-plus icon-white"></i>Galerias</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </table>