                  <a class="btn btn-inverse" style="width:299px">Galerias</a>
                  <table class="table" style="margin: 0px 0px 0px 0px;">
                  <!-- ############ PRIMEIRO LINK ################# -->
                    <tr>
                      <td>
                        <div class="row-fluid">
                          <div class="span6" style="border: 1px solid #000;">IMAGEM<br/><br/><br/><br/><br/><br/></div>
                          <div class="span6">
                            <table class="table" style="margin: 0px 0px 0px 0px;">
                              <tr style="margin: 0px 0px 0px 0px;">
                                <td>
                                  <a href="#"><h5 style="margin: 0px 0px 0px 0px;">BootStrap</h5></a>
                                  <h6 style="margin: 0px 0px 0px 0px;">Posted by Pedro Reis in 05 de Maio de 2013<h6>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <a class="btn btn-mini btn-primary" href="#"><i class="icon-picture icon-white"></i> Galeria</a>
                                  <a class="btn btn-mini btn-success" href="#"><i class=" icon-plus icon-white"></i> INFO</a>
                                </td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </td>
                    </tr> 
                  <!-- ############ SEGUNDO LINK ################# -->
                    <tr>
                      <td>
                        <div class="row-fluid">
                          <div class="span6" style="border: 1px solid #000;">IMAGEM<br/><br/><br/><br/><br/><br/></div>
                          <div class="span6">
                            <table class="table" style="margin: 0px 0px 0px 0px;">
                              <tr style="margin: 0px 0px 0px 0px;">
                                <td>
                                  <a href="#"><h5 style="margin: 0px 0px 0px 0px;">BootStrap</h5></a>
                                  <h6 style="margin: 0px 0px 0px 0px;">Posted by Pedro Reis in 05 de Maio de 2013<h6>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <a class="btn btn-mini btn-primary" href="#"><i class="icon-picture icon-white"></i> Galeria</a>
                                  <a class="btn btn-mini btn-success" href="#"><i class=" icon-plus icon-white"></i> INFO</a>
                                </td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </td>
                    </tr> 
                  <!-- ############ TERCEIRO LINK ################# -->
                    <tr>
                      <td>
                        <div class="row-fluid">
                          <div class="span6" style="border: 1px solid #000;">IMAGEM<br/><br/><br/><br/><br/><br/></div>
                          <div class="span6">
                            <table class="table" style="margin: 0px 0px 0px 0px;">
                              <tr style="margin: 0px 0px 0px 0px;">
                                <td>
                                  <a href="#"><h5 style="margin: 0px 0px 0px 0px;">BootStrap</h5></a>
                                  <h6 style="margin: 0px 0px 0px 0px;">Posted by Pedro Reis in 05 de Maio de 2013<h6>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <a class="btn btn-mini btn-primary" href="#"><i class="icon-picture icon-white"></i> Galeria</a>
                                  <a class="btn btn-mini btn-success" href="#"><i class=" icon-plus icon-white"></i> INFO</a>
                                </td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </td>
                    </tr> 
                  <!-- ############ QUARTO LINK ################# -->
                    <tr>
                      <td>
                        <div class="row-fluid">
                          <div class="span6" style="border: 1px solid #000;">IMAGEM<br/><br/><br/><br/><br/><br/></div>
                          <div class="span6">
                            <table class="table" style="margin: 0px 0px 0px 0px;">
                              <tr style="margin: 0px 0px 0px 0px;">
                                <td>
                                  <a href="#"><h5 style="margin: 0px 0px 0px 0px;">BootStrap</h5></a>
                                  <h6 style="margin: 0px 0px 0px 0px;">Posted by Pedro Reis in 05 de Maio de 2013<h6>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <a class="btn btn-mini btn-primary" href="#"><i class="icon-picture icon-white"></i> Galeria</a>
                                  <a class="btn btn-mini btn-success" href="#"><i class=" icon-plus icon-white"></i> INFO</a>
                                </td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </td>
                    </tr> 
                    <!-- ############ MAIS GALERIAS ################# -->
                    <tr>
                      <td>
                        <div class="row-fluid">
                          <div class="span5 offset7">
                            <a class="btn btn-success" href="#"><i class=" icon-plus icon-white"></i>Galerias</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </table>