<div class="example-wrapper" style="margin-top:0px;">
    <div id="services-example-1" class="theme1">
        <ul>
            {% for news in uftNews %}
                <li>
                    <img class="thumb" src="{{ MEDIA_URL }}{{ news.get_picture.image }}" data-bw="{{ MEDIA_URL }}{{ news.get_picture.image }}">
                    <div style="margin-top:16px"></div>
                    <h2>{{ news.title }}</h2>
                    <p>{{ news.content|slice:':80' }}...</p>
                    <a class="buttonlight morebutton" href="#">Ver Mais</a>
                    <!-- ************************************************************************************************
                      -  HERE YOU CAN DEFINE THE EXTRA PAGE WHICH SHOULD BE SHOWN IN CASE THE "BUTTON" HAS BEED PRESSED -
                    ********************************************************************************************** -->
                    <div class="page-more">
                        <img class="big-image" width="498" height="280" src="{{ MEDIA_URL }}{{ news.get_picture.image }}">
                        <div class="details_double">
                            <h2>{{ news.title }}</h2>
                            <p>{{ news.content|slice:':400' }}...</p>
                            <a class="buttonlight" href="/content/articles/{{ news.id }}/">Notícia Completa</a>
                        </div>
                        <div class="closer"></div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <!--  ###############    -  TOOLBAR (LEFT/RIGHT) BUTTONS  -  ###############   -->
        <div class="toolbar">
            <div class="left"></div><div class="right"></div>
        </div>
    </div>
</div>
<!--
##############################
- ACTIVATE THE BANNER HERE -
##############################
-->
<script type="text/javascript">
    $(document).ready(function() {
        $.noConflict();

        jQuery('#services-example-1').services(
                {
                    width:920,
                    height:290,
                    slideAmount:5,
                    slideSpacing:30,
                    touchenabled:"on",
                    mouseWheel:"on",
                    hoverAlpha:"off",
                    slideshow:3000,
                    hovereffect:"on",
                    callBack:function() { }
                });
    });
</script>