<a class="btn btn-inverse" style="width:340px">Dicas & Links</a>
                  
<table class="table" style="margin: 0px 0px 0px 0px;">
  {% for tip in tips %}
    <tr>
      <td>
        <div class="row-fluid">
          <div class="span4"><img src="{{ MEDIA_URL }}{{ tip.academic.picture.image }}" /></div>
          <div class="span8">
            <table class="table" style="margin: 0px 0px 0px 0px;">
              <tr style="margin: 0px 0px 0px 0px;">
                <td>
                  <a href="#"><h4 style="margin: 0px 0px 0px 0px;">{{ tip.title }}</h4></a>
                  <h6 style="margin: 0px 0px 0px 0px;">Posted by {{ tip.academic.user.first_name }} {{ tip.academic.user.last_name }} in {{ tip.datepost }}<h6>
                </td>
              </tr>
              <tr style="margin: 0px 0px 0px 0px;">
                <td>
                  <h5 style="margin: 0px 0px 0px 0px;">Autor: {{ tip.academic }}</h5>
              </tr>
              <tr style="margin: 0px 0px 0px 0px;">
                <td>
                  <h5 style="margin: 0px 0px 0px 0px;">{{ tip.content|slice:':30' }}...</h5>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="btn-group">
                    <a class="btn btn-mini btn-primary" href="{{ tip.get_link.url }}"><i class="icon-hand-down icon-white"></i> Link</a>
                    <a class="btn btn-mini btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#"> Abrir inbox</a></li>
                      <li><a href="#"> Abrir nova aba</a></li>
                      <li><a href="#"> Abrir nova janela</a></li>
                      <li class="divider"></li>
                    </ul>
                  </div>
                  <a class="btn btn-mini btn-success" href="#"> <i class=" icon-plus icon-white"></i>INFO</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </td>
    </tr>
  {% endfor %}
  <!-- ############ MAIS LINKS ################# -->
  <tr>
    <td>
      <div class="row-fluid">
        <div class="span5 offset7">
          <a class="btn btn-success" href="/content/tips/"><i class=" icon-plus icon-white"></i>Links&Dicas</a>
        </div>
      </div>
    </td>
  </tr>
</table>