<!doctype html>
<html>
<head>
	<title>Put your title here</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="style.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<div class="layout" id="tudo">
		<div id="conteudo">
			<div class="content">
				<div class="top_block header">
					<div class="content">
						<div class="top_block logo">
							<div class="content">
								<div class="background user_func">
								</div>
								<div class="right_block user_func">
									<div class="content">
										<div class="top_block logon">
											<div class="content">
												> Login   |   > Register
											</div>
										</div>
										<div class="bottom_block search">
											<div class="content">
												Search: ###############
											</div>
										</div>
									</div>
								</div>
								<div class="background caccomp">
									LOGO CACCOMP
								</div>
								<div class="center_block caccomp">
									<div class="content">
									</div>
								</div>
							</div>
						</div>
						<div class="top_block menu">
							<div class="content">
								MENU
							</div>
						</div>
					</div>
				</div>
				<div class="top_block contents">
					<div class="content">
						<div class="top_block block01">
							<div class="content">
								<div class="background news_comp">
								</div>
								<div class="left_block news_comp">
									<div class="content">
										Noticias Computação
									</div>
								</div>
								<div class="background twitter">
								</div>
								<div class="right_block twitter">
									<div class="content">
										Twitter
									</div>
								</div>
							</div>
						</div>
						<div class="top_block block02">
							<div class="content">
								<div class="background news_uft">
								</div>
								<div class="center_block news_uft">
									<div class="content">
										Notícias UFT - GERAL
									</div>
								</div>
							</div>
						</div>
						<div class="background block03">
							<div class="background galery">
							</div>
							<div class="background rigthcolun">
								<div class="background banners">
								</div>
							</div>
							<div class="background links">
								<div class="background documents">
								</div>
							</div>
						</div>
						<div class="center_block block03">
							<div class="content">
								<div class="left_block galery">
									<div class="content">
										GALERIA
									</div>
								</div>
								<div class="right_block rigthcolun">
									<div class="content">
										<div class="top_block polls">
											<div class="content">
												Enquetes
											</div>
										</div>
										<div class="top_block face">
											<div class="content">
												Facebook - Plugin
											</div>
										</div>
										<div class="center_block banners">
											<div class="content">
												BAnners 
											</div>
										</div>
									</div>
								</div>
								<div class="center_block links">
									<div class="content">
										<div class="top_block tips">
											<div class="content">
												Links - Dicas
												<pre>
													TESTE
													TESTE
													TESTE
													TESTE
													TESTE
													TESTE
													TESTE
													TESTE
													TESTE
													TESTE
													TESTE
													TESTE
													TESTE
													TESTE
													TESTE
													TESTE
													TESTE
													TESTE
													TESTE
													TESTE
													TESTE
													
												</pre>
											</div>
										</div>
										<div class="center_block documents">
											<div class="content">
												Arquivos - Documentos
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="bottom_block videos">
							<div class="content">
								Videos
							</div>
						</div>
					</div>
				</div>
				<div class="bottom_block footer">
					<div class="content">
						Rodapé
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- 
 * Layout generated with http://layzilla.com
 * Layout generator is free of use.
 * We appreciate if you leave this comment block in commercial use of generator.
 * All comment and ideas can be submitted to us using contacts below.
 *
 *    site: www.jmholding.com
 *   email: info@jmholding.ru
 *  twitter: @jmholding
 -->
</body>
</html>
