<!doctype html>
<html>
<head>
	<title>Put your title here</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="style.css" type="text/css" rel="stylesheet" />
	<link href="./src/css/menu/menu.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="./src/js/menu/jquery.js"></script>
    <script type="text/javascript" src="./src/js/menu/menu.js"></script>-->

    <!-- Estilos CSS barra de menu (complementar) -->
    <style type="text/css">
		div#menu { margin:20px auto; }
		div#copyright {
		    font:11px 'Trebuchet MS';
		    color:#222;
		    text-indent:30px;
		    padding:140px 0 0 0;
		}
		div#copyright a { color:#eee; }
		div#copyright a:hover { color:#222; }
	</style>

</head>
<body>
	<div class="layout" id="tudo">
		<div id="conteudo">
			<div class="content">
				<div class="top_block header">
					<div class="content">
						<div class="top_block logo">
							<div class="content">
								<div class="background user_func">
								</div>
								<div class="right_block user_func">
									<div class="content">
										<div class="top_block logon">
											<div class="content">
												> Login   |   > Register
											</div>
										</div>
										<div class="bottom_block search">
											<div class="content">
												Search: ###############
											</div>
										</div>
									</div>
								</div>
								<div class="background caccomp">
									LOGO CACCOMP
								</div>
								<div class="center_block caccomp">
									<div class="content">
									</div>
								</div>
							</div>
						</div>
						<div class="top_block menudiv">								<!-- BARRA DE MENU -->
								<div id="menu">
								    <ul class="menu">
								        <li><a href="#" class="parent"><span>Home</span></a>
								            <div><ul>
								                <li><a href="#" class="parent"><span>Sub Item 1</span></a>
								                    <div><ul>
								                        <li><a href="#" class="parent"><span>Sub Item 1.1</span></a>
								                            <div><ul>
								                                <li><a href="#"><span>Sub Item 1.1.1</span></a></li>
								                                <li><a href="#"><span>Sub Item 1.1.2</span></a></li>
								                            </ul></div>
								                        </li>
								                        <li><a href="#"><span>Sub Item 1.2</span></a></li>
								                        <li><a href="#"><span>Sub Item 1.3</span></a></li>
								                        <li><a href="#"><span>Sub Item 1.4</span></a></li>
								                        <li><a href="#"><span>Sub Item 1.5</span></a></li>
								                        <li><a href="#"><span>Sub Item 1.6</span></a></li>
								                        <li><a href="#" class="parent"><span>Sub Item 1.7</span></a>
								                            <div><ul>
								                                <li><a href="#"><span>Sub Item 1.7.1</span></a></li>
								                                <li><a href="#"><span>Sub Item 1.7.2</span></a></li>
								                            </ul></div>
								                        </li>
								                    </ul></div>
								                </li>
								                <li><a href="#"><span>Sub Item 2</span></a></li>
								                <li><a href="#"><span>Sub Item 3</span></a></li>
								            </ul></div>
								        </li>
								        <li><a href="#" class="parent"><span>Product Info</span></a>
								            <div><ul>
								                <li><a href="#" class="parent"><span>Sub Item 1</span></a>
								                    <div><ul>
								                        <li><a href="#"><span>Sub Item 1.1</span></a></li>
								                        <li><a href="#"><span>Sub Item 1.2</span></a></li>
								                    </ul></div>
								                </li>
								                <li><a href="#" class="parent"><span>Sub Item 2</span></a>
								                    <div><ul>
								                        <li><a href="#"><span>Sub Item 2.1</span></a></li>
								                        <li><a href="#"><span>Sub Item 2.2</span></a></li>
								                    </ul></div>
								                </li>
								                <li><a href="#"><span>Sub Item 3</span></a></li>
								                <li><a href="#"><span>Sub Item 4</span></a></li>
								                <li><a href="#"><span>Sub Item 5</span></a></li>
								                <li><a href="#"><span>Sub Item 6</span></a></li>
								                <li><a href="#"><span>Sub Item 7</span></a></li>
								            </ul></div>
								        </li>
								        <li><a href="#"><span>Help</span></a></li>
								        <li class="last"><a href="#"><span>Contacts</span></a></li>
								    </ul>
								</div>
								<!-- FIM BARRA DE MENU -->
						</div>
					</div>
				</div>
				<div class="top_block contents">
					<div class="content">
						<div class="top_block block01">
							<div class="content">
								<div class="background news_comp">
								</div>
								<div class="left_block news_comp">
									<div class="content">
										Noticias Computação
									</div>
								</div>
								<div class="background twitter">
								</div>
								<div class="right_block twitter">
									<div class="content">
										Twitter
									</div>
								</div>
							</div>
						</div>
						<div class="top_block block02">
							<div class="content">
								<div class="background news_uft">
								</div>
								<div class="center_block news_uft">
									<div class="content">
										Notícias UFT - GERAL
									</div>
								</div>
							</div>
						</div>
						<div class="background block03">
							<div class="background galery">
							</div>
							<div class="background rigthcolun">
								<div class="background banners">
								</div>
							</div>
							<div class="background links">
								<div class="background documents">
								</div>
							</div>
						</div>
						<div class="center_block block03">
							<div class="content">
								<div class="left_block galery">
									<div class="content">
										GALERIA
									</div>
								</div>
								<div class="right_block rigthcolun">
									<div class="content">
										<div class="top_block polls">
											<div class="content">
												Enquetes
											</div>
										</div>
										<div class="top_block face">
											<div class="content">
												Facebook - Plugin
											</div>
										</div>
										<div class="center_block banners">
											<div class="content">
												BAnners 
											</div>
										</div>
									</div>
								</div>
								<div class="center_block links">
									<div class="content">
										<div class="top_block tips">
											<div class="content">
												Links - Dicas
											</div>
										</div>
										<div class="center_block documents">
											<div class="content">
												Arquivos - Documentos
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="bottom_block videos">
							<div class="content">
								Videos
							</div>
						</div>
					</div>
				</div>
				<div class="bottom_block footer">
					<div class="content">
						Rodapé
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- 
 * Layout generated with http://layzilla.com
 * Layout generator is free of use.
 * We appreciate if you leave this comment block in commercial use of generator.
 * All comment and ideas can be submitted to us using contacts below.
 *
 *    site: www.jmholding.com
 *   email: info@jmholding.ru
 *  twitter: @jmholding
 -->
</body>
</html>

